docs/
Client/

.env
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
front-backup/
test_health_data.json
node_modules/

healthagents-a379b-firebase-adminsdk-fbsvc-98946ab443.  